body {
  margin: 0;
  scroll-behavior: smooth;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas: "nav nav nav nav" "main main main main";
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/img/Modern-Mediterranean.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 599px) {
  .container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas: "nav" "main";
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/img/Modern-Mediterranean.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
  }
}
.container nav {
  display: grid;
  color: #fff;
  grid-area: nav;
  grid-template-columns: -webkit-max-content auto;
  grid-template-columns: max-content auto;
  grid-template-areas: "logo menus";
  align-items: center;
  padding-left: 100px;
}
@media screen and (max-width: 599px) {
  .container nav {
    display: grid;
    color: #fff;
    grid-area: nav;
    grid-template-columns: 1fr;
    grid-template-areas: "logo" "menus";
    align-items: center;
    padding-left: 0;
    transition: none;
    justify-content: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .container nav {
    padding-left: 40px;
  }
}
.container nav .waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 35px;
}
.container nav .waviy span {
  font-family: futura;
  position: relative;
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  -webkit-animation: waviy 3s infinite;
          animation: waviy 3s infinite;
  -webkit-animation-delay: calc(0.6s * var(--i));
          animation-delay: calc(0.6s * var(--i));
}
@-webkit-keyframes waviy {
  0%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-15px);
  }
}
@keyframes waviy {
  0%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-15px);
  }
}
@media screen and (max-width: 599px) {
  .container nav .waviy {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .container nav .waviy {
    font-size: 24px;
  }
}
.container nav .menus {
  grid-area: menus;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: end;
  padding-right: 100px;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  position: relative;
  color: #fff;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .container nav .menus {
    gap: 10px;
    justify-content: end;
    padding-right: 20px;
  }
}
.container nav .menus .item {
  position: relative;
  color: #fff;
  font-family: futura;
  font-weight: 300;
  font-size: 18px;
}
@media screen and (max-width: 599px) {
  .container nav .menus .item {
    visibility: collapse;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .container nav .menus .item {
    font-size: 16px;
  }
}
.container nav .menus .item a {
  color: #fff;
  text-decoration: none;
}
.container nav .menus .item::after {
  content: "";
  height: 3px;
  background-color: #2e4f6c;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 3s;
}
.container nav .menus .item:hover::after {
  width: 100%;
}
.container .content {
  display: flex;
  flex-direction: column;
  grid-area: main;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 599px) {
  .container .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.container .content h1 {
  font-size: 48px;
  font-family: futura;
  position: relative;
  color: transparent;
}
.container .content h1.content2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  border-right: 2px solid #af9d96;
  overflow: hidden;
  transition: width 2s ease;
  white-space: nowrap;
}
.container .content h1.content3::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #ffffff;
  border-right: 2px solid #af9d96;
  overflow: hidden;
  transition: width 3s ease-out;
  white-space: nowrap;
}
@media screen and (max-width: 599px) {
  .container .content h1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
}
.container .content p {
  flex-wrap: wrap;
  width: 50%;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  color: #fff;
}
@media screen and (max-width: 599px) {
  .container .content p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.container .content button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  border-radius: 25px;
  border: 2px solid #2e4f6c;
  margin: 20px 10px;
  background: transparent;
  color: #fff;
  font-family: futura;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
@media screen and (max-width: 599px) {
  .container .content button {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.container .content button span {
  background-color: #355c7d;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
.container .content button:hover span {
  width: 100%;
}
.container .content button:hover {
  border: none;
}/*# sourceMappingURL=style.css.map */